body {
    padding-top: 54px;
}

@media (max-width: 768px) {
    body {
        padding-top: 56px;
    }
    #vertical_logo {
        display: none;
    }
    .container {
        max-width: 1100px;
    }
}